streamlit
ultralytics
langchain
langchain-groq
groq
opencv-python-headless==4.9.0.80
Pillow
python-dotenv

# Prevent opencv-python from being installed accidentally
--extra-index-url https://pypi.org/simple
